
/* aleo-400 - regular */
@font-face {
  font-family: 'Aleo Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Aleo/Regular/aleo-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Aleo/Regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Aleo/Regular/aleo-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Aleo/Regular/aleo-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Aleo/Regular/aleo-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Aleo/Regular/aleo-regular-webfont.svg#Aleo') format('svg'); /* Legacy iOS */
}


