// colors
$white: #ffffff;
$white1: #fefefe;
$lightGray: #e8e8e8;
$lightGray1: #dddddd;
$mediumGray: #cccccc;
$mediumGray1: #999999;
$darkGray: #232323;
$black1: #121212;
$brown: #333333;
$lightRed: #ff6363;
$darkRed: #ff0000;
$sky: #00a2ff;
$yellow: #ffff00;
$mediumBlue: #5474fd;
$darkBlue: #496bfe;

//variables width
$w90: 81.2%;
$tac: center;
